<h1>Here is the list of Cuisine</h1>
<div class="container my-5"> 
    <h1 class="mb-3"></h1>
    <table class="table"> 
        <thead>
            <tr>
                <th>menuID</th>
                <th>itemID</th>
                <th> name</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let m of item"> 
                 <td>{{m.menuID}}</td> 
                 <td>{{m.itemID}}</td>
                 <td>{{m.name}}</td>
                 <td>{{m.price}}</td>
                 <td><a [routerLink]="['/Display-Page/'+ m.price]" >Book</a></td>

                 
                 
                 </tr> 
        <!-- </tbody> -->
    </table>
  </div>
  <router-outlet></router-outlet>

