<div class="row">
    <div class="col-6 data">
        <!-- <img align="right" src="assets/taste.jpg" width="400" height="600" >  -->
        <h2 class="heading">Welcome to Spektra Restaurant... </h2>
        <p>Spektra Restaurant  have brilliant variety of menu and also the experienced ones, We provide
            best facility to our customers and we have a great stuff .
        </p>
    <p>We also Conduct Free food offer each  for our Regular Customer, Our main aim is to
        provide facility to as many as people so that they can feel better after eat.
        
    </p>

    <a  class="btn btn-outline-info" routerLink="/landingPage">Get Started....</a>
    </div>
    <div class="col-6">

</div>
</div>

